.places h1 {
	font-size: 30px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

.box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.price_by_night {
	color: #FF5A5F;
	border: #FF5A5F 4px solid;
	width: 60px;
	height: 60px;
	font-size: 30px;
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
	padding: 15px;
	margin-bottom: 20px;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
	align-items: center;
}

.max_guest,
.number_bathrooms,
.number_rooms {
	width: 100px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.max_guest {
	background-image: url("../images/guest.png");
}

.number_bathrooms {
	background-image: url("../images/bath.png");
}

.number_rooms {
	background-image: url("../images/bed.png");
}

.max_guest p,
.number_bathrooms p,
.number_rooms p {
	margin-top: 55px;
}

.wifi {
	background-image: url("../images/icon_wifi.png");
}

.pets {
	background-image: url("../images/icon_pets.png");
}

.tv {
	background-image: url("../images/icon_tv.png");
}

.tv,
.pets,
.wifi {
	height: 48px;
	background-repeat: no-repeat;
	display: flex;
	background-size: 25px;
}

.tv li,
.pets li,
.wifi li {
	margin-left: 50px;
	margin-top: 5px;
}

.amenities2 h2,
.reviews h2 {
	margin-bottom: 5px;
	font-size: 16px;
	border-bottom: #DDDDDD 1px solid;
	text-align: left;
}

.amenities2 ul,
.reviews ul {
	padding: 0;
}

.reviews h3 {
	font-size: 14px;
	text-align: left;
	margin-bottom: 4px;
}

.reviews p {
	font-size: 12px;
	text-align: left;
	margin: 0;
}

label, #toggle
{
    display: none;
}
 
@media all and (max-width: 650px)
{
    nav
    {
        height: 60px;
		z-index: 2;
    }
 
    nav .filters
    {
        display: none;
		flex-direction: column;
        background: #DDDDDD;
        height: 220px;

    }
 
    nav .filters a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: #484848;
        cursor: pointer;
    }
	#toggle:checked + .filters {
        display: flex;
    }
}
